.custom-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 6px;
    transform: translateY(-50%);
    fill: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        top: 12px;
    }
}

.custom-checkbox:checked+.check-icon {
    border: none;
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    fill: #ffffff;
}