.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    background-color: transparent;
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    @include mobile {
        width: 450px;
    }

    @include desktop{
        width: 530px;
    }

}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-close-icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-button {
    fill: var(--accent-color);
}

.modal-content {
    
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

    margin-bottom: 12px;
}

.modal-form {}

.input-wrapper {
    position: relative;
}

.input-label {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.modal-label {}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-label-title {}


.modal-label-icon {
    fill: var(--title-text-color);
    position: absolute;
    left: 12px;
    top: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within+.modal-label-icon {
    fill: var(--accent-color);
}


.modal-input:focus-within,
.modal-comment:focus-within {
    border: 1px solid var(--accent-color);
}

.modal-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    overflow: auto;
    outline: none;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(18 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
    // position: relative;
    display: block;
    // justify-content: center;
    height: 30px;
    margin-bottom: 30px;
}

.checkbox-label {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet {
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal-text-link {
    position: relative;

    line-height: 1.71;
    color: var(--accent-color);
    text-decoration: none;
}

.modal-text-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}

.modal-submit-button {
    background: #188CE8;
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}