.header {
    position: relative;
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #ECECEC;
    // height: 80px;
    height: 60px;
}

// .header__nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.mob-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    
}

.btn {}

.menu-close-icon {
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
    .menu-close:hover & {
        fill: var(--accent-color);
    }
}

.mob-menu__list {}

.list {}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.link {}

.mob-current {
    color: var(--accent-color);
}

.mob-contact-wrap {
    
}

.contact-list {}

.mob-contact-list {}

.mob-contact-item {}

.mob-contact-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
    margin-bottom: 32px;
}

.mob-contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;   
    color: var(--primary-text-color);
    display: block;
    margin-bottom: 64px;
}

.contact-icon {}

.mob-soc-list {
    display: flex;
    flex-wrap: wrap;
}

.mob-soc-item {
    position: relative;
    &:not(:last-child) {
        padding-right: 20px;
    }
}

.mob-soc-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 22px;
    right: 10px;
    background-color: rgba(33, 33, 33, 0.2);
}

.mob-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button,
.menu-close {
    border: none;
    background-color: transparent;
}

.btn {
    padding: 0;
}

.menu-icon {
}

.header__logo {
    color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;

    // padding-top: 24px;
    // padding-bottom: 25px;
}



.nav-list {
    display: none;
    margin-left: 93px;
    gap: 50px;
}

.nav-list__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding: 32px 0;
}

.current {

    color: var(--accent-color);
    
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 4px;
        width: 100%;
        transform: translateY(-50%);
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.header__contact-list {
    display: none;
    margin-left: auto;
    align-items: center;
    gap: 30px;
}

.contact-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 15px 0;
    display: flex;
    align-items: center;
}